
  /* footer */
  body {
    font-family: 'Signika', sans-serif;
  }

  .footer_background {
    background: #3c271d;
  }

  .logo-footer {
    margin-bottom: 40px;
  }
.under_logo{
    color: #cea46b;
    
}
.col_heading{
    color: #cea46b;
}
  footer {
    color: white;
  }

  footer p,
  a {
    font-size: 12px;
    /* font-family: 'Roboto', sans-serif; */
  }

  footer h6 {
    /* font-family: 'Playfair Display', serif; */
    margin-bottom: 40px;
    position: relative;
  }

  footer h6:after {
    position: absolute;
    content: "";
    background: rgb(219, 219, 219);
    width: 12%;
    height: 1px;
    left: 0;
    bottom: -20px;
  }

  .btn-footer {
    color: rgb(202, 202, 202);

    text-decoration: none;
    /* border: 1px solid; */
    /* border-radius: 43px; */
    font-size: 18px;
    padding: 7px 0px;
    line-height: 47px;
    width: 500px !important;
  }

  .btn-footer:hover {

    text-decoration: none;

  }

  .form-footer input[type="text"] {
    border: none;
    border-radius: 16px 0 0 16px;
    outline: none;
    padding-left: 10px;

  }

  ::placeholder {
    font-size: 10px;
    padding-left: 10px;
    font-style: italic;
  }

  .form-footer input[type="button"] {
    border: none;
    background: #232323;
    margin-left: -5px;
    color: #fff;
    outline: none;
    border-radius: 0 16px 16px 0;
    padding: 2px 12px;
  }

  .social .fa {
    color: grey;
    font-size: 22px;
    padding: 10px 15px;
    background: #3c3c3c;
  }

  footer ul li {
    list-style: none;
    display: block;
  }

  footer ul {
    padding-left: 0;
  }

  footer ul li a {
    text-decoration: none;
    color: grey;
    text-decoration: none;
  }

  a:hover {
    text-decoration: none;
    color: #f5f5f5 !important;

  }

  .logo-part {
    /* border-right: 1px solid grey; */
    height: 100%;
  }
  
  /* below Footer */
  .social ul li{
    list-style: none;
    display: inline;
    padding: 0 10px;
    color: #cea46b;
  }

  .social ul li a .footer_icon{
    color: #3c271d !important;
    filter: blur(50%);
  }